body{

margin:0;
font-family:'Poppins',sans-serif;

background-image:url("images/background.jpg");
background-size:cover;
background-position:center;
background-repeat:repeat-y;

animation:bgScroll 60s linear infinite;

text-align:center;
color:#444;

position:relative;

}

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:linear-gradient(
180deg,
rgba(255,246,249,0.3),
rgba(249,214,229,0.3),
rgba(231,216,255,0.3)
);

z-index:-1;

}

header{

padding:40px 20px;

}

header h1{

font-family:'Playfair Display',serif;
font-size:42px;
margin-bottom:10px;

}

header p{

font-size:16px;

}

.photo-strip{

margin-top:20px;

}

.photos{

display:flex;
overflow-x:auto;
gap:20px;
padding:20px;

}

.photos img{

width:180px;
border-radius:12px;
box-shadow:0 8px 15px rgba(0,0,0,0.1);
transition:transform 0.3s;

}

.photos img:hover{

transform:scale(1.1);

}

.photo-caption{

font-style:italic;
margin-top:10px;

}

.countdown{

margin:40px 0;

}

#timer{

font-size:28px;
font-weight:600;

}

.letters-grid{

display:grid;

grid-template-columns:repeat(5,120px);

gap:20px;

justify-content:center;

margin-bottom:60px;

}

.letter{

width:120px;
height:100px;

background:white;

border-radius:12px;

display:flex;
align-items:center;
justify-content:center;

box-shadow:0 6px 10px rgba(0,0,0,0.1);

cursor:pointer;

transition:transform 0.2s;

font-size:30px;

}

.letter:hover{

transform:translateY(-5px);

}

.locked{

opacity:0.4;
cursor:not-allowed;

}

footer{

padding:30px;
font-size:20px;
font-weight: bold;

}

.film-container{

width:100%;
overflow:hidden;
margin-top:30px;

}

.film-track{

display:flex;
gap:25px;
width:max-content;

animation:filmScroll 35s linear infinite;

}

.film-track img{

height:160px;

border-radius:10px;

box-shadow:0 8px 15px rgba(0,0,0,0.15);

transition:transform 0.3s;

}

.film-track img:hover{

transform:scale(1.15);

}

@keyframes filmScroll{

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}
